# OS X
.DS_Store

#intelliJ
.idea/
*.iml

#backend services
services/public/avatars/

services/config
services/node_modules/
services/build/
services/app/vendor/
services/coverage
services/.DS_Store
services/.env.local
services/.env.development.local
services/.env.test.local
services/.env.production.local

services/npm-debug.log*
services/yarn-debug.log*
services/yarn-error.log*

#react
client/config
client/node_modules/
client/build/
client/app/vendor/
client/coverage
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
