# OS X
.DS_Store

#intelliJ
.idea/
*.iml

#backend
react-backend/public/avatars/

react-backend/config
react-backend/node_modules/
react-backend/build/
react-backend/app/vendor/
react-backend/coverage
react-backend/.DS_Store
react-backend/.env.local
react-backend/.env.development.local
react-backend/.env.test.local
react-backend/.env.production.local

react-backend/npm-debug.log*
react-backend/yarn-debug.log*
react-backend/yarn-error.log*

#react
client/config
client/node_modules/
client/build/
client/app/vendor/
client/coverage
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
