.fl-margin-l-5
{
	margin-left: 5px;
}
.fl-nopadding-ul
{
	padding: 0;
}
.fl-nav-item
{
	display: inline-block;
	padding-right: 20px;
	text-transform: uppercase;

}
.fl-main-container
{
	padding: 0 2rem;
}
.fl-main-header
{
	font-size: 3rem;
    color: deepskyblue;
    border-bottom: 1px solid;
    border-top: 1px solid;
    color: #b5d8f5;
}
.fl-project-info-container,
.fl-bid-info-container
{
	display: block;
    overflow: hidden;
    border-bottom: 1px dashed #b5d8f5;
    padding: 10px 0;
}

.fl-sub-header
{
	font-size: 1.5rem;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid;
    color: #b5d8f5;
}
.fl-project-title
{
	margin: 0px;
}
.fl-list-label
{
	color: #7d7d7d;
	font-size: 0.8rem;
}
.fl-details-label
{
	color: #7d7d7d;
	font-size: 0.8rem;	
}